body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section {
    margin: 0 90px;
}

h1 {
    font-size: 48px;
}

button {
    font-family: monospace;
    background-color: orange;
    height: 44px;
    padding: 0 24px;
    border-radius: 6px;
    border: 1px solid orange

}

button:hover {
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.304);
    border: 1px solid black;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}

dialog {
    border-radius: 6px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 2px 2px black;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.364);
}

ul {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0 24px;
}

li:hover {
    cursor: pointer;
}